body {
  margin: auto;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 48px;
  color: #363958;
}
h2 {
  font-family: "Bebas Neue", cursive;
  color: #363958;
  font-size: 40px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

a {
  font-family: "Roboto", sans-serif;
}

#first-part,
#second-part {
  border: 1px solid;
  height: 400px;
}

#third-part,
#last-part {
  border: 1px solid;
  height: 500px;
}

.half-portion {
  float: left;
  width: 45%;
  margin-left: 4%;
}

.half-portion img {
  height: 400px;
  padding-left: 15%;
}

.half-portion h1 {
  margin-bottom: 0px;
}
.high-light {
  color: #ff8367;
}
.link-btn {
  background-image: linear-gradient(50deg, #ff8367, tomato);
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  margin-top: 50px;
}

#third-part {
  background-color: #e5e5e5;
}

#third-part h2 {
  text-align: center;
}

.work-img-portion {
  width: 20%;
  float: left;
  margin-left: 8%;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.work-img-portion p {
  text-align: justify;
}
.work-img-portion img {
  width: 100%;
}

.work-enq {
  position: relative;
  text-align: center;
  color: white;
}

.work-enq img {
  width: 50%;
  margin-top: 100px;
}

.img-header {
  position: absolute;
  top: 47%;
  left: 30%;
  color: white;
  font-weight: normal;
}
.lets-chat-btn {
  position: absolute;
  top: 43%;
  left: 60%;
}
